
# webstorm
.idea

# svn
.svn

# .bak
*.bak

# node modules
node_modules/
npm-debug.log
npm-lock.log
package-lock.json

# logs
logs/

# download excel
public/download/*.xls

# config
config/config_test.js
config/config_experience.js
config/config_production.js

# general css
public/stylesheets/general/*.css
public/stylesheets/general/*.css.map
